
@media (max-width: 768px) {
    .pagination{
        font-size: 13px;

    }
    
}

.dark-mode{
    .pagination{
        background-color: map-get($map: $dark, $key: 6 );
        color: $text-color-dark;
    }
}