.sidebar {
  position: fixed;
  top: 0;
  margin-top: 60px;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.322), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  height: 100vh;
  background-color: $background-color-light;

}

.sidebar .nav-link {
  padding: 15px 30px;
  font-weight: 500;
  color:$text-color-light;
  transition: all 0.2s;
}

.sidebar .nav-link:hover {
  color: #0d6efd;
}

.sidebar .nav-link i {
  margin-right: 10px;
}

.sidebar .nav .active{
    color: map-get($map: $blue, $key:5 );
}

.margin-page{
    margin-left: 240px;
}
/* Forj responsive design */
@media (max-width: 768px) {
  .sidebar {
    width: 40vw;
    padding: 20px 0;
  }
  .margin-page{
    margin-left: 0px;
  }
  .sidebar .nav-link {
    font-size: 11px;
  }
}

.dark-mode  {
    .sidebar{
        background-color: $background-color-dark;
        
    }
    .sidebar .nav-link{
        color: map-get($map: $dark, $key:3 );
    }
    
    .sidebar  .active{
        color: map-get($map: $gray, $key:1 ) !important;
    }
}