.dashboard-table-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
  }
  .table-responsive{
    scrollbar-width: none;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .dashboard-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
  }
  .dashboard-table tr{
    border: 1px solid map-get($map: $gray, $key:5);
  }
  .dashboard-table th,
  .dashboard-table td {
    vertical-align: middle;
    text-align: center;
    background-color: map-get($map: $gray, $key:3 );
    border: 1px solid map-get($map: $gray, $key:5);
    color: $text-color-light;
    text-align: center;
  }
  
  .dark-mode {
    .dashboard-table th,
    .dashboard-table td {
      background-color: map-get($map: $dark, $key: 6 );
      color: $text-color-dark;
      border: 1px solid map-get($map: $dark, $key:4 );
    }
  }
 
  @media (max-width: 768px) {
    .dashboard-table th,
    .dashboard-table td {
      font-size: 10px;
    }

    .dashboard-table td button{
      font-size: 9px;
    }
  }